@model IEnumerable<flightclient.Models.Suhasiniflight>
    
@{
    ViewData["Title"] = "ShowFlightDetail";
    Layout="~/Views/Shared/Homelayout.cshtml";
}

<h1>Flight Details</h1>
<style>
    a{
        text-decoration: none;
        color: white;
    }
</style>


<table class="table" style=" border-spacing:0 15px; border-collapse:separate; ">
    
    <tbody>
@foreach (var item in Model) {
        <tr style="height:120px; " >
            <td style="border: 1px  solid white; background-color:white ; color:black; border-radius:5px 0 0 5px; text-align:center; vertical-align:middle;">
                <div style="display: flex; flex-direction:column">
                    <div  style="color:black;">
                @Html.DisplayFor(modelItem => item.Flightsourcetime)
                </div>
                <div style="color:black;">
                @Html.DisplayFor(modelItem => item.Flightsource)
                </div>
                </div>
            </td>
            
            <td style="border: 1px  solid white;background-color:white ;text-align:center; vertical-align:middle;">
                 <div style="display: flex; flex-direction:column">
                    <div style="color:black;">
                    @Html.DisplayFor(modelItem => item.Flightdestinationtime)
                </div>
                    <div style="color:black;">
                @Html.DisplayFor(modelItem => item.Flightdestination)
                </div>
                
                 </div>
            </td>
            <td style="border: 1px  solid white;color:black;background-color:white ;text-align:center; vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Flightid)
            </td>
            
            <td style="border: 1px  solid white;color:black;background-color:white ;text-align:center; vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Flightprice)
            </td>
             <td style="border: 1px  solid white;color:black;background-color:white ; border-radius:0 5px 5px 0;text-align:center; vertical-align:middle;">
                <div style="padding:5px; background-color:black; color:white; text-decoration:none; border-radius:10px ; ">
                @Html.ActionLink("Book", "Book", new { Flightid=@item.Flightid, Flightprice= @item.Flightprice  }) 
                </div>
            </td>
            
        </tr>
}
    </tbody>
</table>
